
body {
    min-height: 100vh;
    display: flex;
    background-color: hsl(30, 54%, 90%);
    justify-content: center;
    align-items: center;
    font-family: "Outfit", sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    background-color: hsl(0, 0%, 100%);
    padding: 40px;
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
}

img {
    width: 700px;
    border-radius: 16px;
}

h1 {
  color: hsl(24, 5%, 18%);
  font-family: "Young Serif", serif;
  font-weight: 400;
  font-size: 32px;
}

p {
    color: hsl(30, 10%, 34%);
    font-weight: 400;
    font-size: 14px;
}

.preparationTime {
  background: hsl(330, 100%, 98%);
  font-weight: 400;
}

h2 {
    color: hsl(332, 51%, 32%);
    font-weight: 600;
    font-size: 16px;
}

.preparationTime ul { /* adicionando as bolinhas */
    list-style: inside;
}

.preparationTime li::marker { /* pintando a bolinha */
    color: hsl(332, 51%, 32%);
    font-size: x-small;
}



li {
    color: hsl(30, 10%, 34%);
    font-weight: 400;
    font-size: 14px;
}

h3 {
    font-family:"Young Serif", serif; 
    color: hsl(14, 45%, 36%);
    font-weight: 400;
    font-size: 20px;
}


.ingredients ul {
    list-style: square;
}

.ingredients li::marker {
    color: hsl(14, 45%, 36%);
    font-size: x-small;
}

ol {
    list-style-type: decimal;
}

.instructions li::marker {
    color: hsl(14, 45%, 36%);
    font-weight: 600;
}

.preparationTime strong,
.instructions strong {
    font-weight: 700;
}

hr {
  border: none;
  height: 1px;
  background-color: hsl(30, 18%, 87%);
  margin: 32px 0;
}
